# IDE configuration and artifacts
.vscode

# Data
*.sqlite3

# Build artifacts
build
dist
out
node_modules
console/**/*.js
.turbo
.next
.svelte-kit
.sveltepress
*.log
venv
__pycache__
.vercel
*.rdb

# Environment variables
.env*

# data
data

# Misc
.DS_Store
