# IDE configuration and artifacts
.vscode

# Build artifacts
build
dist
out
node_modules
console/**/*.js
.turbo
.next
*.log
venv
__pycache__
.vercel
*.rdb

# Environment variables
.env*

# Misc
.DS_Store
